.main-div-mainPage {
    margin: 50px auto;
}

.main-div-mainPage h4 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
}

.main-div-mainPage img {
    width: 100px;
}

.img-div {
    display: flex;
    justify-content: space-evenly;
    margin: 0 10px;
}

.text{
    font-weight: bold;
}
.text-down{
    margin-left: 35px;
}
.text-my-sale{
    margin-left: 20px;
}
.text-sale{
    margin-left: 30px;

}
.text-settings{
    margin-left: 25px;
}